<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>

</style>
</head>
<body class="background4">
<h2><p class="h">Thank you for your selections!</p></h2>
<h2><p class="d">You chose a <%=size%> pizza with <%=sauce%> sauce and a <%=crust%> crust for $<%=('%.2f' % session[:size_choice].to_f)%>.</p></h2>
<%if session[:meat] != "" && session[:veggie] != "" && session[:other] != ""%> 
<h2><p class="d">Your toppings are: <%=meat.join(', ')%> ,<%=veggie.join(', ')%> ,<%=other.join(', ')%></p></h2>
<%end%>
<h2>-----------------------------------------<br></h2>
<h2><p class="e">Please confirm your choices below:</p></h2>

<form method="post" action="summary">
<h2><p class="e"><%meat.each do |choice| %>
    	<%if meat == nil%>
    	<%else%>
    <%=choice%><input type="radio" name="meat[<%=choice%>]" value="<%=choice%>">Yes 
    <input type="radio" name="meats[<%=choice%>]" value = "">No<br>
    <%end%>
<%end%>
-----------------------------------------<br>
<%veggie.each do |choice| %>
    <%if veggie == nil%>
    <%else%>
    <%=choice%><input type="radio" name="veggie[<%=choice%>]" value="<%=choice%>">Yes 
    <input type="radio" name="veggies[<%=choice%>]" value="">No<br>
    <%end%>
<%end%>
-----------------------------------------<br>
<%other.each do |choice| %>
    <%if other == nil%>
    <%else%>
    <%=choice%><input type="radio" name="other[<%=choice%>]" value="<%=choice%>">Yes 
    <input type="radio" name="others[<%=choice%>]" value="">No<br>
    <%end%>
<%end%>
-----------------------------------------<br>
</p>
</h2>
<h2><p class="e">Select "Add Another Pizza" if you'd like to order another pizza:</p>
	<input type="checkbox" name="add_another_pizza" value="More">Add Another Pizza<br>
Would you like your order delivered?<br>
    <input type="radio" name="delivery" value="Yes">Yes<br>
    <input type="radio" name="delivery" value="No">No<br>
<h2><input type="submit"></h2>
</form>
<h2><p class="e">Please select "Redo Choices" if you want to remake your pizza:
<form method="get" action="redo">
	<input type="submit" value ="Redo Choices">
</form></p></h2>

</center>
</body>
</html>


